footer {
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #214859;
    color: white
}
li {
    list-style-type: none;
}

.btn{
    color: #003B6D;
}

.navbar{
    background-color: #6699CC;
}
.logo-nav-image{

    margin-right: 20px;
}

.left-content{

    margin-top: 30px;
}


.footer-nav{
    color: white
}

.footer-nav:hover{
    color: #676767;
}

.btn-outline-success:hover{
    background-color: #676767;
}

.services{
    padding: 0;
    list-style-type:disc;
}
.accomodation_item {
  margin-bottom: 30px;
}

.accomodation_item .hotel_img {
  position: relative;
  margin-bottom: 10px;
  overflow: hidden;
  border-radius: 10px;
}

.accomodation_item .hotel_img img {
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.accomodation_item .hotel_img .theme_btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%);
  padding: 5px 25px;
  max-width: 128px;
}

.accomodation_item .hotel_img:hover img {
  -webkit-transform: scale(1.19);
  -ms-transform: scale(1.19);
  transform: scale(1.19);
}

.accomodation_item h5 {
  font-size: 24px;
  line-height: 28px;
  color: #232b5d;
  font-weight: 600;
  margin-bottom: 0px;
}

.accomodation_item h5 small {
  font-weight: 300;
  font-size: 14px;
}
.jumbotron{
    padding-left: 30%;
    background-color:#003B6D;
    color: white;
}
.slogan{
    padding: 10px 60px;
    font-style:italic;
}
.adoption{
    background-color:#6699CC;
    color:white;
}
.button_hover {
    border-radius: 0px;
    position: relative;
    z-index: 1;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    overflow: hidden;
    border: 0px;
    display: inline-block;
    text-align: center;
  }
  
  .button_hover:before {
    content: "";
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: absolute;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
    z-index: -1;
    background: #f8b100;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    opacity: 0;
  }
  
  .button_hover:hover {
    color: #fff;
  }
  
  .button_hover:hover:before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
.book_now_btn {
    width: 100%;
    display: block;
    background-color: #003B6D;
    color: whitesmoke;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 30px;
    font-weight: 500;
    padding: 5px 20px;
  }
  
  .hotel_booking_table {
    background: #04091e;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 40px 50px 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .hotel_booking_table h2 {
    font-size: 24px;
    line-height: 30px;
    color: #fff;
    text-transform: uppercase;
  }
  
  .boking_table {
    margin-left: -50px;
  }
  
  .book_tabel_item .form-group {
    margin-bottom: 0px;
  }
  
  .book_tabel_item .form-group .input-group {
    position: relative;
  }
  
  .book_tabel_item .form-group .input-group .form-control {
    border: 1px solid #2b3146;
    background: transparent;
    border-radius: 0px;
    font-size: 13px;
    line-height: 38px;
    padding: 0px 20px;
    color: #777777;
    z-index: 0;
  }
  
  .book_tabel_item .form-group .input-group .form-control.placeholder {
    color: #777777;
  }
  
  .book_tabel_item .form-group .input-group .form-control:-moz-placeholder {
    color: #777777;
  }
  
  .book_tabel_item .form-group .input-group .form-control::-moz-placeholder {
    color: #777777;
  }
  
  .book_tabel_item .form-group .input-group .form-control::-webkit-input-placeholder {
    color: #777777;
  }
  
  .book_tabel_item .form-group .input-group .form-control:focus {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .book_tabel_item .form-group .input-group .input-group-addon {
    background: transparent;
    padding: 0px;
    border: 0px;
    position: absolute;
    right: 20px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    color: #777777;
    z-index: 2;
  }
  
  .book_tabel_item .input-group {
    margin-bottom: 10px;
  }
  
  .book_tabel_item .nice-select {
    background: transparent;
    border-radius: 0px;
    border: 1px solid #2b3146;
    font-size: 13px;
    line-height: 40px;
    height: 40px;
    color: #777;
  }
  
  .book_tabel_item .nice-select:after {
    content: "\e874";
    font-family: 'Linearicons-Free';
    font-size: 13px;
    color: #777777;
    border: 0px;
    top: 0;
    margin-top: 0px;
    right: 20px;
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
  }
  
  blog_right_sidebar .search_widget .input-group .form-control {
    font-size: 14px;
    line-height: 29px;
    border: 0px;
    width: 100%;
    font-weight: 300;
    color: #fff;
    padding-left: 20px;
    border-radius: 45px;
    z-index: 0;
    background: #f3c300;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control.placeholder {
    color: #fff;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control:-moz-placeholder {
    color: #fff;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control::-moz-placeholder {
    color: #fff;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control::-webkit-input-placeholder {
    color: #fff;
  }
  
  .blog_right_sidebar .search_widget .input-group .form-control:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .blog_right_sidebar .search_widget .input-group .btn-default {
    position: absolute;
    right: 20px;
    background: transparent;
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 14px;
    color: #fff;
    padding: 0px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 1;
  }
  .input-group-icon {
    position: relative;
  }
  
  .input-group-icon .icon {
    position: absolute;
    left: 20px;
    top: 0;
    line-height: 40px;
    z-index: 3;
  }
  
  .input-group-icon .icon i {
    color: #797979;
  }
  
  .input-group-icon .single-input {
    padding-left: 45px;
  }
.image-main{
    padding-left: 100px;
}
.default-select .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #fff;
    padding-left: 20px;
    padding-right: 40px;
  }
  
  .default-select .nice-select .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
  }
  
  .default-select .nice-select .list .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 20px;
  }
  
  .default-select .nice-select .list .option.selected {
    color: #f8b600;
    background: transparent;
  }
  
  .default-select, .nice-select, .list, .option:hover {
    color: #f8b600;
    background: transparent;
  }
  
  .default-select, .current {
    margin-right: 50px;
    font-weight: 300;
  }
  
  .default-select, .nice-select::after {
    right: 20px;
  }
  
  @media (max-width: 991px) {
    .left-align-p p {
      margin-top: 20px;
    }
  }
  
  .form-select {
    height: 40px;
    width: 100%;
  }
  
  .form-select, .nice-select {
    border: none;
    border-radius: 0px;
    height: 40px;
    background: #fff !important;
    padding-left: 45px;
    padding-right: 40px;
    width: 100%;
  }
  
  .form-select, .nice-select, .list {
    margin-top: 0;
    border: none;
    border-radius: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    padding: 10px 0 10px 0px;
  }
  
  .mt-10 {
    margin-top: 10px;
  }
  
  .form-select, .nice-select, .list, .option {
    font-weight: 300;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    line-height: 28px;
    min-height: 28px;
    font-size: 12px;
    padding-left: 45px;
  }
  
  .form-select, .nice-select, .list, .option.selected {
    color: #f8b600;
    background: transparent;
  }
  
  .form-select, .nice-select, .list, .option:hover {
    color: #f8b600;
    background: transparent;
  }
  
  .form-select, .current {
    margin-right: 50px;
    font-weight: 300;
  }
  
  .form-select, .nice-select::after {
    right: 20px;
  }
.p-3{
    background-color: #6699CC;
    color: white;
}
.care-tips{
        padding: 10px 500px;
        
}

.form-submit{
    background-color: #003B6D;
    color: white;
    margin-top: 50px;
}

.form-submit:hover{
    background-color: #BDBDBD;
}

.booking{
    margin-left: 200px;
    margin-top: 20px;
    padding: 30px 10px 30px 10px;
}


@import url('https://fonts.googleapis.com/css2?family=Molle:ital@1&display=swap');
 
body
{
  background-color: #f6feff;
  background: #076585;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #fff, #076585);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #fff, #076585); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 
  
}
 
h2, h3, h5
{
  font-family: 'Molle', cursive;
  color:CornflowerBlue;
}
 
p{
  color:DimGrey;
}
 
.padding {padding: 80px 0;}
 
.about_section, .about_img, img
{
    max-width:100%;
	  border-radius:15px;
    box-shadow:0 16px 28px 0 rgba(8,56,103,.5);}
.theme_btn {
      margin-top: 20px;
      cursor: pointer;
    }
@media (min-width:992px)
{
    
 
    .about_section, .about_img_2
    {
    margin:-180px 0 0 270px;}
    
    .about_section, .about_img_3
    {
    margin:-260px 0 0 40px;}
}
 
@media(max-width:991px)
{
    .about_section, .about_img img
  {
      margin:3rem 0;}
}
 
.about_section, .content 
{
  background-color:white;
  border-radius:35px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}